:root {
    --body-bg-color: #282b37;
    --sidenav-bg-color: #373948;
}
.body {
    background-image: url("wallpaper.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.sidenav {
    opacity: .8;
    height: 100%;
    width: 0;
    position: fixed;
    background-color:var(--sidenav-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: gray;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.inputBox {
    border: 5px, black;
    background: #7d809d;
    line-height: 1;
    color: white;
    font-size: 25px;
    min-width: 300px;
    width: 520px;
    height: 40px;
    padding: 12px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.media {
    position:absolute;
    bottom:7.5%;
}