:root {
    --body-bg-color: #282b37;
    --sidenav-bg-color: #373948;
}
.body {
    background-image: url("wallpaper.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.sidenav {
    opacity: .8;
    height: 100%;
    width: 0;
    position: fixed;
    background-color:var(--sidenav-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "Consolas", "Lucida Console", "Courier New", monospace;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#8b8ea9;
    display: block;
    transition: 0.3s;
    border: 1px solid red;
    padding: .4rem;
    border-radius: 24px;
    border-color: #282b37;
    text-align: center;
}
.sidenav a:hover {
    color: #9d7dd1;
    background: #282b37;
    border-color: #9d7dd1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    border: none;
}
.sidenav .spacer {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inputBox {
    border-style: none;
    background: var(--body-bg-color);
    line-height: 1.5;
    color: #9d7dd1;
    font-size: 25px;
    min-width: 500px;
    width: 520px;
    padding: 12px;
    text-align: center;
    border-radius: 1px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
}
.inputBox:hover {
    border-style:unset;
    border-color: #9d7dd1;
}
.media {
    position:absolute;
    bottom:7.5%;
    text-align: center;
    border: 1px solid red;
    padding: .4rem;
    border-radius: 24px;
    border-color: #282b37;
    text-align: center;
}

.spt {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#8b8ea9;
    display: block;
    transition: 0.3s;


    position:absolute;
    bottom:12%;
    text-align: center;
    border: 1px solid red;
    padding: .4rem;
    border-radius: 24px;
    border-color: #282b37;
    text-align: center;
}