a[name="YT"] {
    color: #FF0000;border-color: #FF0000;
}
a[name="Wapp"] {
    color: #25D366;border-color: #25D366;
}
a[name="Fb"] {
    color: #5d64f4;border-color: #5d64f4;
}
a[name="Bflix"] {
    color: #25D366;border-color: #25D366;
}
a[name="9Gag"] {
    color: #232030;border-color: #232030;
}
a[name="GitHub"] {
    color: whitesmoke;border-color: whitesmoke;
}
a[name="Reddit"] {
    color: #F77737;border-color: #F77737;
}
a[name="Classroom"] {
    color: #128C7E;border-color: #128C7E;
}
a[name="OracleApex"] {
    color: #f80000; border-color: #f80000;
}
a[name="YM"] {
    color: #a15ee0;border-color: #a15ee0;
}
a[name="GM"] {
    color: #F4B400;border-color: #F4B400;
}
a[name="PM"] {
    color: #9494b4;border-color: #9494b4;
}
a[name="AW"] {
    color: #1793d1;border-color: #1793d1;
}
a[name="TPB"] {
    color: burlywood;border-color: burlywood;
}
a[name="RARBG"] {
    color: whitesmoke;border-color: whitesmoke;
}
a[name="FL"] {
    color: #0adeee;border-color: #0adeee;
}
a[name="SPT"] {
    color: #1DB954; border-color: #1DB954;
}
a[name="MCenter"] {
    color: #9d7dd1;border-color: #9d7dd1;
}
a[name="Twitch"] {
    color: #9546aa;border-color: #9546aa;
}
a[name="Twitter"] {
    color: #2289f7;border-color: #2289f7;
}
a[name="Tmblr"] {
    color: #4349bc;border-color: #4349bc;
}
a[name="AK"] {
    color: #5381d6;border-color: #5381d6;
}
a[name="KC"] {
    color: #dce539;border-color: #dce539;
}
a[name="Proton"] {
    color: #f7202e;border-color: #f7202e;
}
a[name="IG"] {
    color: #d83cd6;border-color: #d83cd6;
}
a[name="LC"] {
    color: whitesmoke;border-color: whitesmoke;
}
a[name="Steam"] {
    color: #6b676a;border-color: #6b676a;
}
a[name="Telegram"] {
    color: #5454ff;border-color: #5454ff;
}
a[name="invizible"] {
    color: none;border-color: none;
    opacity: 0%;
}

